{% extends 'base.html' %}

{% block header %}
    <h2> Who are the Arctic Monkeys? </h2>
{% endblock %}

{% block content %}
    <p> Arctic Monkeys, like most rock bands before it, had incredibly humble beginnings. 
        In 2002, a group of friends decided to form a band. The band consisted of four original members: 
        Jamie ‘Cookie’ Cook (guitar), Matt Helders (drums, vocals), Andy Nicholson and Alex Turner (vocals, guitar). 
        Any Nicholson left in 2006 citing exhaustion from touring and was replaced by Nick O’Malley (bass), 
        who became a permanent fixture.
        Before the group wrote any songs, they had already decided that the band would be called Arctic Monkeys, 
        which was given to the group by James cook, although none of the band members can recall why. 
        The group members had all been school friends in Sheffield, England but they did not start 
        playing locally until mid-2003. 
        <a href = "https://www.cmuse.org/arctic-monkeys-biography/"> [read more]</a>
    </p>

    <img src = "/static/images/img.jpg"/>
{% endblock %}

